@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
  /* Background: light blue with circular gradient from the center */
  width: 100vw;
  height: 100vh;
  background: radial-gradient(#fff, #e6f7ff);
}